SolucionPruebas/SolucionPruebas.Presentacion.Servicios/Service References/ntcpLCO/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="fnRecuperaLCO">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sRFC" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="sNoCertificado" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="fnRecuperaLCOResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="fnRecuperaLCOResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>