SolucionPruebas/SolucionPruebas.Presentacion.Servicios/Service References/ServicioLocal/Service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://192.168.3.61:500/ServiceRecepcion.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://192.168.3.61:500/ServiceRecepcion.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService_fnEnviarXML_InputMessage">
    <wsdl:part name="parameters" element="tns:fnEnviarXML" />
  </wsdl:message>
  <wsdl:message name="IService_fnEnviarXML_OutputMessage">
    <wsdl:part name="parameters" element="tns:fnEnviarXMLResponse" />
  </wsdl:message>
  <wsdl:message name="IService_fnAplicarHojaTransformacion_InputMessage">
    <wsdl:part name="parameters" element="tns:fnAplicarHojaTransformacion" />
  </wsdl:message>
  <wsdl:message name="IService_fnAplicarHojaTransformacion_OutputMessage">
    <wsdl:part name="parameters" element="tns:fnAplicarHojaTransformacionResponse" />
  </wsdl:message>
  <wsdl:message name="IService_fnGenerarPfxPem_InputMessage">
    <wsdl:part name="parameters" element="tns:fnGenerarPfxPem" />
  </wsdl:message>
  <wsdl:message name="IService_fnGenerarPfxPem_OutputMessage">
    <wsdl:part name="parameters" element="tns:fnGenerarPfxPemResponse" />
  </wsdl:message>
  <wsdl:message name="IService_fnGenerarPfxBytes_InputMessage">
    <wsdl:part name="parameters" element="tns:fnGenerarPfxBytes" />
  </wsdl:message>
  <wsdl:message name="IService_fnGenerarPfxBytes_OutputMessage">
    <wsdl:part name="parameters" element="tns:fnGenerarPfxBytesResponse" />
  </wsdl:message>
  <wsdl:message name="IService_fnGenerarPfxRuta_InputMessage">
    <wsdl:part name="parameters" element="tns:fnGenerarPfxRuta" />
  </wsdl:message>
  <wsdl:message name="IService_fnGenerarPfxRuta_OutputMessage">
    <wsdl:part name="parameters" element="tns:fnGenerarPfxRutaResponse" />
  </wsdl:message>
  <wsdl:message name="IService_fnGenerarPfxRutasByte_InputMessage">
    <wsdl:part name="parameters" element="tns:fnGenerarPfxRutasByte" />
  </wsdl:message>
  <wsdl:message name="IService_fnGenerarPfxRutasByte_OutputMessage">
    <wsdl:part name="parameters" element="tns:fnGenerarPfxRutasByteResponse" />
  </wsdl:message>
  <wsdl:message name="IService_fnGenerarSello_InputMessage">
    <wsdl:part name="parameters" element="tns:fnGenerarSello" />
  </wsdl:message>
  <wsdl:message name="IService_fnGenerarSello_OutputMessage">
    <wsdl:part name="parameters" element="tns:fnGenerarSelloResponse" />
  </wsdl:message>
  <wsdl:message name="IService_fnGenerarSelloRutas_InputMessage">
    <wsdl:part name="parameters" element="tns:fnGenerarSelloRutas" />
  </wsdl:message>
  <wsdl:message name="IService_fnGenerarSelloRutas_OutputMessage">
    <wsdl:part name="parameters" element="tns:fnGenerarSelloRutasResponse" />
  </wsdl:message>
  <wsdl:message name="IService_fnGenerarSelloOpenSSL_InputMessage">
    <wsdl:part name="parameters" element="tns:fnGenerarSelloOpenSSL" />
  </wsdl:message>
  <wsdl:message name="IService_fnGenerarSelloOpenSSL_OutputMessage">
    <wsdl:part name="parameters" element="tns:fnGenerarSelloOpenSSLResponse" />
  </wsdl:message>
  <wsdl:message name="IService_fnServicioPrueba_InputMessage">
    <wsdl:part name="parameters" element="tns:fnServicioPrueba" />
  </wsdl:message>
  <wsdl:message name="IService_fnServicioPrueba_OutputMessage">
    <wsdl:part name="parameters" element="tns:fnServicioPruebaResponse" />
  </wsdl:message>
  <wsdl:portType name="IService">
    <wsdl:operation name="fnEnviarXML">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/fnEnviarXML" message="tns:IService_fnEnviarXML_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/fnEnviarXMLResponse" message="tns:IService_fnEnviarXML_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="fnAplicarHojaTransformacion">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/fnAplicarHojaTransformacion" message="tns:IService_fnAplicarHojaTransformacion_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/fnAplicarHojaTransformacionResponse" message="tns:IService_fnAplicarHojaTransformacion_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="fnGenerarPfxPem">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/fnGenerarPfxPem" message="tns:IService_fnGenerarPfxPem_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/fnGenerarPfxPemResponse" message="tns:IService_fnGenerarPfxPem_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="fnGenerarPfxBytes">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/fnGenerarPfxBytes" message="tns:IService_fnGenerarPfxBytes_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/fnGenerarPfxBytesResponse" message="tns:IService_fnGenerarPfxBytes_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="fnGenerarPfxRuta">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/fnGenerarPfxRuta" message="tns:IService_fnGenerarPfxRuta_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/fnGenerarPfxRutaResponse" message="tns:IService_fnGenerarPfxRuta_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="fnGenerarPfxRutasByte">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/fnGenerarPfxRutasByte" message="tns:IService_fnGenerarPfxRutasByte_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/fnGenerarPfxRutasByteResponse" message="tns:IService_fnGenerarPfxRutasByte_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="fnGenerarSello">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/fnGenerarSello" message="tns:IService_fnGenerarSello_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/fnGenerarSelloResponse" message="tns:IService_fnGenerarSello_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="fnGenerarSelloRutas">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/fnGenerarSelloRutas" message="tns:IService_fnGenerarSelloRutas_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/fnGenerarSelloRutasResponse" message="tns:IService_fnGenerarSelloRutas_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="fnGenerarSelloOpenSSL">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/fnGenerarSelloOpenSSL" message="tns:IService_fnGenerarSelloOpenSSL_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/fnGenerarSelloOpenSSLResponse" message="tns:IService_fnGenerarSelloOpenSSL_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="fnServicioPrueba">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/fnServicioPrueba" message="tns:IService_fnServicioPrueba_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/fnServicioPruebaResponse" message="tns:IService_fnServicioPrueba_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IService" type="tns:IService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="fnEnviarXML">
      <soap:operation soapAction="http://tempuri.org/IService/fnEnviarXML" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="fnAplicarHojaTransformacion">
      <soap:operation soapAction="http://tempuri.org/IService/fnAplicarHojaTransformacion" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="fnGenerarPfxPem">
      <soap:operation soapAction="http://tempuri.org/IService/fnGenerarPfxPem" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="fnGenerarPfxBytes">
      <soap:operation soapAction="http://tempuri.org/IService/fnGenerarPfxBytes" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="fnGenerarPfxRuta">
      <soap:operation soapAction="http://tempuri.org/IService/fnGenerarPfxRuta" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="fnGenerarPfxRutasByte">
      <soap:operation soapAction="http://tempuri.org/IService/fnGenerarPfxRutasByte" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="fnGenerarSello">
      <soap:operation soapAction="http://tempuri.org/IService/fnGenerarSello" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="fnGenerarSelloRutas">
      <soap:operation soapAction="http://tempuri.org/IService/fnGenerarSelloRutas" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="fnGenerarSelloOpenSSL">
      <soap:operation soapAction="http://tempuri.org/IService/fnGenerarSelloOpenSSL" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="fnServicioPrueba">
      <soap:operation soapAction="http://tempuri.org/IService/fnServicioPrueba" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service">
    <wsdl:port name="BasicHttpBinding_IService" binding="tns:BasicHttpBinding_IService">
      <soap:address location="http://192.168.3.61:500/ServiceRecepcion.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>