SolucionPruebas/SolucionPruebas.Negocios.Validacion/Validacion.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Validacion">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Perfiles">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="IdPerfil">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="ParaAdminstrar">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element maxOccurs="unbounded" name="id" type="xs:unsignedByte" />
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>