PAXServicioRecuperacionSOAP/Service References/ServiceReference1/Service1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="validarRFC">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="RFC" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="validarRFCResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="validarRFCResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RegresarRegistro">
        <s:complexType />
      </s:element>
      <s:element name="RegresarRegistroResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="RegresarRegistroResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="validarRFCSoapIn">
    <wsdl:part name="parameters" element="tns:validarRFC" />
  </wsdl:message>
  <wsdl:message name="validarRFCSoapOut">
    <wsdl:part name="parameters" element="tns:validarRFCResponse" />
  </wsdl:message>
  <wsdl:message name="RegresarRegistroSoapIn">
    <wsdl:part name="parameters" element="tns:RegresarRegistro" />
  </wsdl:message>
  <wsdl:message name="RegresarRegistroSoapOut">
    <wsdl:part name="parameters" element="tns:RegresarRegistroResponse" />
  </wsdl:message>
  <wsdl:portType name="Service1Soap">
    <wsdl:operation name="validarRFC">
      <wsdl:input message="tns:validarRFCSoapIn" />
      <wsdl:output message="tns:validarRFCSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="RegresarRegistro">
      <wsdl:input message="tns:RegresarRegistroSoapIn" />
      <wsdl:output message="tns:RegresarRegistroSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="Service1Soap" type="tns:Service1Soap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="validarRFC">
      <soap:operation soapAction="http://tempuri.org/validarRFC" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RegresarRegistro">
      <soap:operation soapAction="http://tempuri.org/RegresarRegistro" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="Service1Soap12" type="tns:Service1Soap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="validarRFC">
      <soap12:operation soapAction="http://tempuri.org/validarRFC" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RegresarRegistro">
      <soap12:operation soapAction="http://tempuri.org/RegresarRegistro" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service1">
    <wsdl:port name="Service1Soap" binding="tns:Service1Soap">
      <soap:address location="http://192.168.3.106:8095/Service1.asmx" />
    </wsdl:port>
    <wsdl:port name="Service1Soap12" binding="tns:Service1Soap12">
      <soap12:address location="http://192.168.3.106:8095/Service1.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>