SolucionPruebas/SolucionPruebas.Presentacion.TimbradoIBM/Service References/wsTimbrado/wcfRecepcionasmx.xsd

<?xml version="1.0" encoding="utf-8"?>
<s:schema xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="https://www.paxfacturacion.com.mx:453" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" elementFormDefault="qualified" targetNamespace="https://www.paxfacturacion.com.mx:453" xmlns:s="http://www.w3.org/2001/XMLSchema">
  <s:element name="fnEnviarXML">
    <s:complexType>
      <s:sequence>
        <s:element minOccurs="0" maxOccurs="1" name="psComprobante" type="s:string" />
        <s:element minOccurs="0" maxOccurs="1" name="psTipoDocumento" type="s:string" />
        <s:element minOccurs="1" maxOccurs="1" name="pnId_Estructura" type="s:int" />
        <s:element minOccurs="0" maxOccurs="1" name="sNombre" type="s:string" />
        <s:element minOccurs="0" maxOccurs="1" name="sContraseña" type="s:string" />
        <s:element minOccurs="0" maxOccurs="1" name="sVersion" type="s:string" />
      </s:sequence>
    </s:complexType>
  </s:element>
  <s:element name="fnEnviarXMLResponse">
    <s:complexType>
      <s:sequence>
        <s:element minOccurs="0" maxOccurs="1" name="fnEnviarXMLResult" type="s:string" />
      </s:sequence>
    </s:complexType>
  </s:element>
</s:schema>