SolucionPruebas/SolucionPruebas.Presentacion.Servicios/Service References/wsRegistroUsuariosProduccion/wcfRegistroSVC2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="https://www.paxfacturacion.mx:455" elementFormDefault="qualified" targetNamespace="https://www.paxfacturacion.mx:455" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="https://www.paxfacturacion.com.mx:455/WebServices/wcfRegistroSVC.svc?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:element name="fnRegistraUsuario">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sNombreUsuario" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="sContraseñaUsuario" nillable="true" type="xs:string" />
        <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="sDatos" nillable="true" type="q1:ArrayOfstring" />
        <xs:element minOccurs="0" name="sNombreCertificado" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="btCertificado" nillable="true" type="xs:base64Binary" />
        <xs:element minOccurs="0" name="sContraseñaCert" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="sNombreLlavePriv" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="btLLavePrivada" nillable="true" type="xs:base64Binary" />
        <xs:element minOccurs="0" name="sUsuarioHijo" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="sContraseñaUsuarioHijo" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="sEmailUsuHijo" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="fnRegistraUsuarioResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="fnRegistraUsuarioResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>