SolucionPruebas/SolucionPruebas.Presentacion.ConsoleApplication/Service References/wsGeneracionTimbradoWS/wcfrecepcionasmx.xsd

<?xml version="1.0" encoding="utf-8"?>
<s:schema xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="https://www.paxfacturacion.com.mx:454" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" elementFormDefault="qualified" targetNamespace="https://www.paxfacturacion.com.mx:454" xmlns:s="http://www.w3.org/2001/XMLSchema">
  <s:element name="fnEnviarTXT">
    <s:complexType>
      <s:sequence>
        <s:element minOccurs="0" maxOccurs="1" name="psComprobante" type="s:string" />
        <s:element minOccurs="0" maxOccurs="1" name="psTipoDocumento" type="s:string" />
        <s:element minOccurs="1" maxOccurs="1" name="pnId_Estructura" type="s:int" />
        <s:element minOccurs="0" maxOccurs="1" name="sNombre" type="s:string" />
        <s:element minOccurs="0" maxOccurs="1" name="sContraseña" type="s:string" />
        <s:element minOccurs="0" maxOccurs="1" name="sVersion" type="s:string" />
        <s:element minOccurs="0" maxOccurs="1" name="sOrigen" type="s:string" />
      </s:sequence>
    </s:complexType>
  </s:element>
  <s:element name="fnEnviarTXTResponse">
    <s:complexType>
      <s:sequence>
        <s:element minOccurs="0" maxOccurs="1" name="fnEnviarTXTResult" type="s:string" />
      </s:sequence>
    </s:complexType>
  </s:element>
  <s:element name="fnEnviarTXTPAX001">
    <s:complexType>
      <s:sequence>
        <s:element minOccurs="0" maxOccurs="1" name="psComprobante" type="s:string" />
        <s:element minOccurs="0" maxOccurs="1" name="psTipoDocumento" type="s:string" />
        <s:element minOccurs="1" maxOccurs="1" name="pnId_Estructura" type="s:int" />
        <s:element minOccurs="0" maxOccurs="1" name="sNombre" type="s:string" />
        <s:element minOccurs="0" maxOccurs="1" name="sContraseña" type="s:string" />
        <s:element minOccurs="0" maxOccurs="1" name="sVersion" type="s:string" />
        <s:element minOccurs="0" maxOccurs="1" name="sOrigen" type="s:string" />
      </s:sequence>
    </s:complexType>
  </s:element>
  <s:element name="fnEnviarTXTPAX001Response">
    <s:complexType>
      <s:sequence>
        <s:element minOccurs="0" maxOccurs="1" name="fnEnviarTXTPAX001Result" type="tns:ArrayOfAnyType" />
      </s:sequence>
    </s:complexType>
  </s:element>
  <s:complexType name="ArrayOfAnyType">
    <s:sequence>
      <s:element minOccurs="0" maxOccurs="unbounded" name="anyType" nillable="true" />
    </s:sequence>
  </s:complexType>
</s:schema>