SolucionPruebas/SolucionPruebas.Presentacion.Servicios/Service References/wsCancelacionDistribuidor/wcfCancelaASMX.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="https://www.paxfacturacion.com.mx:456" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="https://www.paxfacturacion.com.mx:456" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="https://www.paxfacturacion.com.mx:456">
      <s:element name="fnCancelarXML">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="sListaUUID" type="tns:ArrayOfString" />
            <s:element minOccurs="0" maxOccurs="1" name="psRFC" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="signature" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="sNombre" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="sContrasena" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfString">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="string" nillable="true" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="fnCancelarXMLResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="fnCancelarXMLResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="fnCancelarXMLSoapIn">
    <wsdl:part name="parameters" element="tns:fnCancelarXML" />
  </wsdl:message>
  <wsdl:message name="fnCancelarXMLSoapOut">
    <wsdl:part name="parameters" element="tns:fnCancelarXMLResponse" />
  </wsdl:message>
  <wsdl:portType name="wcfCancelaASMXSoap">
    <wsdl:operation name="fnCancelarXML">
      <wsdl:input message="tns:fnCancelarXMLSoapIn" />
      <wsdl:output message="tns:fnCancelarXMLSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="wcfCancelaASMXSoap" type="tns:wcfCancelaASMXSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="fnCancelarXML">
      <soap:operation soapAction="https://www.paxfacturacion.com.mx:456/fnCancelarXML" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="wcfCancelaASMXSoap12" type="tns:wcfCancelaASMXSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="fnCancelarXML">
      <soap12:operation soapAction="https://www.paxfacturacion.com.mx:456/fnCancelarXML" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="wcfCancelaASMX">
    <wsdl:port name="wcfCancelaASMXSoap" binding="tns:wcfCancelaASMXSoap">
      <soap:address location="https://test.paxfacturacion.com.mx:456/webservices/wcfCancelaASMX.asmx" />
    </wsdl:port>
    <wsdl:port name="wcfCancelaASMXSoap12" binding="tns:wcfCancelaASMXSoap12">
      <soap12:address location="https://test.paxfacturacion.com.mx:456/webservices/wcfCancelaASMX.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>