SolucionPruebas/SolucionPruebas.Presentacion.Servicios/Web References/wcfRecepcionManifiesto/wcfRecepcionManifiesto.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="https://test.paxfacturacion.com.mx:467" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="https://test.paxfacturacion.com.mx:467" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="https://test.paxfacturacion.com.mx:467">
      <s:element name="fnEnviarManifiestoXML">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="psCartaManifiesto" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pbPfx" type="s:base64Binary" />
            <s:element minOccurs="0" maxOccurs="1" name="psPasswordPfx" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="fnEnviarManifiestoXMLResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="fnEnviarManifiestoXMLResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="fnEnviarManifiestoDatos">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="pbDatos" type="tns:ArrayOfString" />
            <s:element minOccurs="0" maxOccurs="1" name="pbPfx" type="s:base64Binary" />
            <s:element minOccurs="0" maxOccurs="1" name="psPasswordPfx" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfString">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="string" nillable="true" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="fnEnviarManifiestoDatosResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="fnEnviarManifiestoDatosResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="fnEnviarManifiestoXMLSoapIn">
    <wsdl:part name="parameters" element="tns:fnEnviarManifiestoXML" />
  </wsdl:message>
  <wsdl:message name="fnEnviarManifiestoXMLSoapOut">
    <wsdl:part name="parameters" element="tns:fnEnviarManifiestoXMLResponse" />
  </wsdl:message>
  <wsdl:message name="fnEnviarManifiestoDatosSoapIn">
    <wsdl:part name="parameters" element="tns:fnEnviarManifiestoDatos" />
  </wsdl:message>
  <wsdl:message name="fnEnviarManifiestoDatosSoapOut">
    <wsdl:part name="parameters" element="tns:fnEnviarManifiestoDatosResponse" />
  </wsdl:message>
  <wsdl:portType name="wcfRecepcionManifiestoSoap">
    <wsdl:operation name="fnEnviarManifiestoXML">
      <wsdl:input message="tns:fnEnviarManifiestoXMLSoapIn" />
      <wsdl:output message="tns:fnEnviarManifiestoXMLSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="fnEnviarManifiestoDatos">
      <wsdl:input message="tns:fnEnviarManifiestoDatosSoapIn" />
      <wsdl:output message="tns:fnEnviarManifiestoDatosSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="wcfRecepcionManifiestoSoap" type="tns:wcfRecepcionManifiestoSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="fnEnviarManifiestoXML">
      <soap:operation soapAction="https://test.paxfacturacion.com.mx:467/fnEnviarManifiestoXML" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="fnEnviarManifiestoDatos">
      <soap:operation soapAction="https://test.paxfacturacion.com.mx:467/fnEnviarManifiestoDatos" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="wcfRecepcionManifiestoSoap12" type="tns:wcfRecepcionManifiestoSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="fnEnviarManifiestoXML">
      <soap12:operation soapAction="https://test.paxfacturacion.com.mx:467/fnEnviarManifiestoXML" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="fnEnviarManifiestoDatos">
      <soap12:operation soapAction="https://test.paxfacturacion.com.mx:467/fnEnviarManifiestoDatos" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="wcfRecepcionManifiesto">
    <wsdl:port name="wcfRecepcionManifiestoSoap" binding="tns:wcfRecepcionManifiestoSoap">
      <soap:address location="https://test.paxfacturacion.com.mx:467/webservices/wcfRecepcionManifiesto.asmx" />
    </wsdl:port>
    <wsdl:port name="wcfRecepcionManifiestoSoap12" binding="tns:wcfRecepcionManifiestoSoap12">
      <soap12:address location="https://test.paxfacturacion.com.mx:467/webservices/wcfRecepcionManifiesto.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>