CarlosM/FrmUsuario/FrmUsuario/Web References/localhost/Service1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="Inserta">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="nom" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="apepat" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="apemat" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="dir" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="tel" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="InsertaResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="InsertaResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="elimina">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="id" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="eliminaResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="eliminaResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="mostrar">
        <s:complexType />
      </s:element>
      <s:element name="mostrarResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="mostrarResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="InsertaSoapIn">
    <wsdl:part name="parameters" element="tns:Inserta" />
  </wsdl:message>
  <wsdl:message name="InsertaSoapOut">
    <wsdl:part name="parameters" element="tns:InsertaResponse" />
  </wsdl:message>
  <wsdl:message name="eliminaSoapIn">
    <wsdl:part name="parameters" element="tns:elimina" />
  </wsdl:message>
  <wsdl:message name="eliminaSoapOut">
    <wsdl:part name="parameters" element="tns:eliminaResponse" />
  </wsdl:message>
  <wsdl:message name="mostrarSoapIn">
    <wsdl:part name="parameters" element="tns:mostrar" />
  </wsdl:message>
  <wsdl:message name="mostrarSoapOut">
    <wsdl:part name="parameters" element="tns:mostrarResponse" />
  </wsdl:message>
  <wsdl:portType name="Service1Soap">
    <wsdl:operation name="Inserta">
      <wsdl:input message="tns:InsertaSoapIn" />
      <wsdl:output message="tns:InsertaSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="elimina">
      <wsdl:input message="tns:eliminaSoapIn" />
      <wsdl:output message="tns:eliminaSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="mostrar">
      <wsdl:input message="tns:mostrarSoapIn" />
      <wsdl:output message="tns:mostrarSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="Service1Soap" type="tns:Service1Soap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Inserta">
      <soap:operation soapAction="http://tempuri.org/Inserta" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="elimina">
      <soap:operation soapAction="http://tempuri.org/elimina" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="mostrar">
      <soap:operation soapAction="http://tempuri.org/mostrar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="Service1Soap12" type="tns:Service1Soap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Inserta">
      <soap12:operation soapAction="http://tempuri.org/Inserta" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="elimina">
      <soap12:operation soapAction="http://tempuri.org/elimina" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="mostrar">
      <soap12:operation soapAction="http://tempuri.org/mostrar" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service1">
    <wsdl:port name="Service1Soap" binding="tns:Service1Soap">
      <soap:address location="http://localhost:26283/Service1.asmx" />
    </wsdl:port>
    <wsdl:port name="Service1Soap12" binding="tns:Service1Soap12">
      <soap12:address location="http://localhost:26283/Service1.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>