TestWebServiceLuna/TestWebServiceLuna/Service References/WSLunaSA/TestLunaWebService1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:tns="http://testluna.ws/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" name="TestLunaWebService" targetNamespace="http://testluna.ws/" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema>
      <xsd:import schemaLocation="http://192.168.3.11:8080/TestLunaWebService/TestLunaWebService?xsd=1" namespace="http://testluna.ws/" />
    </xsd:schema>
  </types>
  <message name="login">
    <part name="parameters" element="tns:login" />
  </message>
  <message name="loginResponse">
    <part name="parameters" element="tns:loginResponse" />
  </message>
  <message name="logout">
    <part name="parameters" element="tns:logout" />
  </message>
  <message name="logoutResponse">
    <part name="parameters" element="tns:logoutResponse" />
  </message>
  <message name="firmar">
    <part name="parameters" element="tns:firmar" />
  </message>
  <message name="firmarResponse">
    <part name="parameters" element="tns:firmarResponse" />
  </message>
  <message name="obtenerNoCertificado">
    <part name="parameters" element="tns:obtenerNoCertificado" />
  </message>
  <message name="obtenerNoCertificadoResponse">
    <part name="parameters" element="tns:obtenerNoCertificadoResponse" />
  </message>
  <portType name="TestLunaWebService">
    <operation name="login">
      <input wsam:Action="http://testluna.ws/TestLunaWebService/loginRequest" message="tns:login" />
      <output wsam:Action="http://testluna.ws/TestLunaWebService/loginResponse" message="tns:loginResponse" />
    </operation>
    <operation name="logout">
      <input wsam:Action="http://testluna.ws/TestLunaWebService/logoutRequest" message="tns:logout" />
      <output wsam:Action="http://testluna.ws/TestLunaWebService/logoutResponse" message="tns:logoutResponse" />
    </operation>
    <operation name="firmar">
      <input wsam:Action="http://testluna.ws/TestLunaWebService/firmarRequest" message="tns:firmar" />
      <output wsam:Action="http://testluna.ws/TestLunaWebService/firmarResponse" message="tns:firmarResponse" />
    </operation>
    <operation name="obtenerNoCertificado">
      <input wsam:Action="http://testluna.ws/TestLunaWebService/obtenerNoCertificadoRequest" message="tns:obtenerNoCertificado" />
      <output wsam:Action="http://testluna.ws/TestLunaWebService/obtenerNoCertificadoResponse" message="tns:obtenerNoCertificadoResponse" />
    </operation>
  </portType>
  <binding name="TestLunaWebServicePortBinding" type="tns:TestLunaWebService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="login">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="logout">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="firmar">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="obtenerNoCertificado">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <service name="TestLunaWebService">
    <port name="TestLunaWebServicePort" binding="tns:TestLunaWebServicePortBinding">
      <soap:address location="http://192.168.3.11:8080/TestLunaWebService/TestLunaWebService" />
    </port>
  </service>
</definitions>