GenerarXML/GenerarXML/Web References/localhost/wslGuardaXML.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="fnGuardaFactura">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="psRutaArchivo" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="fnGuardaFacturaResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="fnGuardaFacturaResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="fnGuardaFacturaSoapIn">
    <wsdl:part name="parameters" element="tns:fnGuardaFactura" />
  </wsdl:message>
  <wsdl:message name="fnGuardaFacturaSoapOut">
    <wsdl:part name="parameters" element="tns:fnGuardaFacturaResponse" />
  </wsdl:message>
  <wsdl:portType name="TimbrarFacturaSoap">
    <wsdl:operation name="fnGuardaFactura">
      <wsdl:input message="tns:fnGuardaFacturaSoapIn" />
      <wsdl:output message="tns:fnGuardaFacturaSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="TimbrarFacturaSoap" type="tns:TimbrarFacturaSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="fnGuardaFactura">
      <soap:operation soapAction="http://tempuri.org/fnGuardaFactura" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="TimbrarFacturaSoap12" type="tns:TimbrarFacturaSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="fnGuardaFactura">
      <soap12:operation soapAction="http://tempuri.org/fnGuardaFactura" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="TimbrarFactura">
    <wsdl:port name="TimbrarFacturaSoap" binding="tns:TimbrarFacturaSoap">
      <soap:address location="http://localhost:1686/wslGuardaXML.asmx" />
    </wsdl:port>
    <wsdl:port name="TimbrarFacturaSoap12" binding="tns:TimbrarFacturaSoap12">
      <soap12:address location="http://localhost:1686/wslGuardaXML.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>