PAXRecepcionProveedoresCasaGrande/PAXRecepcionProveedoresCasaGrande/App_WebReferences/wsProduccionValidacion/wcfValidaasmx.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="https://www.paxfacturacion.com.mx:454" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="https://www.paxfacturacion.com.mx:454" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="https://www.paxfacturacion.com.mx:454">
      <s:element name="fnValidaXML">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="psComprobante" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="sNombre" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="sContraseña" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="sVersion" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="fnValidaXMLResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="fnValidaXMLResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="fnValidaCFD">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="psComprobante" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="sNombre" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="sContraseña" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="sVersion" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="fnValidaCFDResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="fnValidaCFDResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="fnValidarPAX001">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="psComprobante" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="sNombre" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="sContraseña" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="fnValidarPAX001Response">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="fnValidarPAX001Result" type="tns:ArrayOfAnyType" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfAnyType">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="anyType" nillable="true" />
        </s:sequence>
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="fnValidaXMLSoapIn">
    <wsdl:part name="parameters" element="tns:fnValidaXML" />
  </wsdl:message>
  <wsdl:message name="fnValidaXMLSoapOut">
    <wsdl:part name="parameters" element="tns:fnValidaXMLResponse" />
  </wsdl:message>
  <wsdl:message name="fnValidaCFDSoapIn">
    <wsdl:part name="parameters" element="tns:fnValidaCFD" />
  </wsdl:message>
  <wsdl:message name="fnValidaCFDSoapOut">
    <wsdl:part name="parameters" element="tns:fnValidaCFDResponse" />
  </wsdl:message>
  <wsdl:message name="fnValidarPAX001SoapIn">
    <wsdl:part name="parameters" element="tns:fnValidarPAX001" />
  </wsdl:message>
  <wsdl:message name="fnValidarPAX001SoapOut">
    <wsdl:part name="parameters" element="tns:fnValidarPAX001Response" />
  </wsdl:message>
  <wsdl:portType name="wcfValidaASMXSoap">
    <wsdl:operation name="fnValidaXML">
      <wsdl:input message="tns:fnValidaXMLSoapIn" />
      <wsdl:output message="tns:fnValidaXMLSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="fnValidaCFD">
      <wsdl:input message="tns:fnValidaCFDSoapIn" />
      <wsdl:output message="tns:fnValidaCFDSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="fnValidarPAX001">
      <wsdl:input message="tns:fnValidarPAX001SoapIn" />
      <wsdl:output message="tns:fnValidarPAX001SoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="wcfValidaASMXSoap" type="tns:wcfValidaASMXSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="fnValidaXML">
      <soap:operation soapAction="https://www.paxfacturacion.com.mx:454/fnValidaXML" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="fnValidaCFD">
      <soap:operation soapAction="https://www.paxfacturacion.com.mx:454/fnValidaCFD" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="fnValidarPAX001">
      <soap:operation soapAction="https://www.paxfacturacion.com.mx:454/fnValidarPAX001" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="wcfValidaASMXSoap12" type="tns:wcfValidaASMXSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="fnValidaXML">
      <soap12:operation soapAction="https://www.paxfacturacion.com.mx:454/fnValidaXML" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="fnValidaCFD">
      <soap12:operation soapAction="https://www.paxfacturacion.com.mx:454/fnValidaCFD" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="fnValidarPAX001">
      <soap12:operation soapAction="https://www.paxfacturacion.com.mx:454/fnValidarPAX001" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="wcfValidaASMX">
    <wsdl:port name="wcfValidaASMXSoap" binding="tns:wcfValidaASMXSoap">
      <soap:address location="https://www.paxfacturacion.com.mx:454/webServices/wcfValidaasmx.asmx" />
    </wsdl:port>
    <wsdl:port name="wcfValidaASMXSoap12" binding="tns:wcfValidaASMXSoap12">
      <soap12:address location="https://www.paxfacturacion.com.mx:454/webServices/wcfValidaasmx.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>