SolucionPruebas/SolucionPruebas.Presentacion.ConsoleApplication/Service References/wsValidacionRetencionesTest/wcfValidaasmx.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://test.paxfacturacion.com:464/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://test.paxfacturacion.com:464/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://test.paxfacturacion.com:464/">
      <s:element name="fnValidaXML">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="psComprobante" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="sNombre" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="sContrasena" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="sVersion" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="fnValidaXMLResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="fnValidaXMLResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="fnValidaXMLSoapIn">
    <wsdl:part name="parameters" element="tns:fnValidaXML" />
  </wsdl:message>
  <wsdl:message name="fnValidaXMLSoapOut">
    <wsdl:part name="parameters" element="tns:fnValidaXMLResponse" />
  </wsdl:message>
  <wsdl:portType name="wcfValidaASMXSoap">
    <wsdl:operation name="fnValidaXML">
      <wsdl:input message="tns:fnValidaXMLSoapIn" />
      <wsdl:output message="tns:fnValidaXMLSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="wcfValidaASMXSoap" type="tns:wcfValidaASMXSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="fnValidaXML">
      <soap:operation soapAction="http://test.paxfacturacion.com:464/fnValidaXML" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="wcfValidaASMXSoap12" type="tns:wcfValidaASMXSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="fnValidaXML">
      <soap12:operation soapAction="http://test.paxfacturacion.com:464/fnValidaXML" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="wcfValidaASMX">
    <wsdl:port name="wcfValidaASMXSoap" binding="tns:wcfValidaASMXSoap">
      <soap:address location="https://test.paxfacturacion.com.mx:464/webservices/wcfValidaasmx.asmx" />
    </wsdl:port>
    <wsdl:port name="wcfValidaASMXSoap12" binding="tns:wcfValidaASMXSoap12">
      <soap12:address location="https://test.paxfacturacion.com.mx:464/webservices/wcfValidaasmx.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>