SolucionPruebas/SolucionPruebas.Presentacion.Servicios/Service References/SesionServicioLocal/ServiceSesion2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:4067/ServiceSesion.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/SolucionPruebas.Entidades" />
  <xs:element name="fnIniciarSesion">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="psUsuario" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="psPassword" nillable="true" type="xs:string" />
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/SolucionPruebas.Entidades" minOccurs="0" name="ENMensajes" nillable="true" type="q1:Mensajes" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="fnIniciarSesionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="fnIniciarSesionResult" type="xs:boolean" />
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/SolucionPruebas.Entidades" minOccurs="0" name="ENMensajes" nillable="true" type="q2:Mensajes" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>