SolucionPruebas/SolucionPruebas.Presentacion.Servicios/Service References/SesionServicioLocal/ServiceSesion.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/SolucionPruebas.Entidades" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/SolucionPruebas.Entidades" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Mensajes">
    <xs:sequence>
      <xs:element minOccurs="0" name="ListaMensajes" nillable="true" type="tns:ArrayOfMensaje" />
      <xs:element minOccurs="0" name="TieneError" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Mensajes" nillable="true" type="tns:Mensajes" />
  <xs:complexType name="ArrayOfMensaje">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Mensaje" nillable="true" type="tns:Mensaje" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfMensaje" nillable="true" type="tns:ArrayOfMensaje" />
  <xs:complexType name="Mensaje">
    <xs:sequence>
      <xs:element minOccurs="0" name="DescripcionMensaje" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TipoMensaje" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Mensaje" nillable="true" type="tns:Mensaje" />
</xs:schema>