SolucionPruebas/SolucionPruebas.Presentacion.Servicios/Service References/CatalogoServicioLocal/CatalogoService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="CatalogoService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:4067/CatalogoService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:4067/CatalogoService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:4067/CatalogoService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/SolucionPruebas.Entidades" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ICatalogoService_fnRegistrarPersona_InputMessage">
    <wsdl:part name="parameters" element="tns:fnRegistrarPersona" />
  </wsdl:message>
  <wsdl:message name="ICatalogoService_fnRegistrarPersona_OutputMessage">
    <wsdl:part name="parameters" element="tns:fnRegistrarPersonaResponse" />
  </wsdl:message>
  <wsdl:message name="ICatalogoService_fnRegistrarContacto_InputMessage">
    <wsdl:part name="parameters" element="tns:fnRegistrarContacto" />
  </wsdl:message>
  <wsdl:message name="ICatalogoService_fnRegistrarContacto_OutputMessage">
    <wsdl:part name="parameters" element="tns:fnRegistrarContactoResponse" />
  </wsdl:message>
  <wsdl:portType name="ICatalogoService">
    <wsdl:operation name="fnRegistrarPersona">
      <wsdl:input wsaw:Action="http://tempuri.org/ICatalogoService/fnRegistrarPersona" message="tns:ICatalogoService_fnRegistrarPersona_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICatalogoService/fnRegistrarPersonaResponse" message="tns:ICatalogoService_fnRegistrarPersona_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="fnRegistrarContacto">
      <wsdl:input wsaw:Action="http://tempuri.org/ICatalogoService/fnRegistrarContacto" message="tns:ICatalogoService_fnRegistrarContacto_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICatalogoService/fnRegistrarContactoResponse" message="tns:ICatalogoService_fnRegistrarContacto_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ICatalogoService" type="tns:ICatalogoService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="fnRegistrarPersona">
      <soap:operation soapAction="http://tempuri.org/ICatalogoService/fnRegistrarPersona" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="fnRegistrarContacto">
      <soap:operation soapAction="http://tempuri.org/ICatalogoService/fnRegistrarContacto" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CatalogoService">
    <wsdl:port name="BasicHttpBinding_ICatalogoService" binding="tns:BasicHttpBinding_ICatalogoService">
      <soap:address location="http://localhost:4067/CatalogoService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>